//Base colors
$solitude: #E9EBEE; //background and shadows
$tuna: #4B4F56; //font
$coral-red: #FA3E3E; //red
$white: #FFFFFF; //artyicule background
$black: #000000; //font
$silver: #c2c2c2; //nav
$alice-blue: #F5F6F7; //Title background
$howkes-blue: #DDDFE2; //Borders
$pantone: #616770; //font
$white-smoke: #f2f2f2;
